{% extends "layout.html" %}
{% block content %}

  <content>
    <h1 style="text-align: center">Sale</h1>
    <table>
      <thead>
        <tr>
          <th>Lp.</th>
          <th>Nazwa</th>
          <th></th>
          <th></th>
          <th>Rezerwacja</th>
        </tr>
      </thead>
      {% for room in rooms %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href='{% url 'show_room' room.id %}'>{{ room.name }}</a></td>
          <td><a href='{% url 'modify_room' room.id %}'>Zmień</a></td>
          <td><a href='{% url 'delete_room' room.id %}'>Usuń</a></td>
          <td>
            {% if room.id in reserved_rooms_id %}
              Zajęta
            {% else %}
              <a href='{% url 'reservation' room.id %}'>Wolna</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </content>

{% endblock content %}